html, body{
    background-color: rgba(248, 248, 228, 0.185);
}

.ui.button {
    background-color: tan;
}

#modalHeader, #logoutbarState {
    background-color: rgb(241, 228, 211);
}

.ui.button.add {
    background-color: rgb(241, 228, 211);
    margin-top: 2%;
}

.grid{
    background-color: white;
}

.ui.header.title {
    margin-top: 2%;
}

#basicGrid {
    padding-bottom: 10%;
    border-radius: 1px;
    box-shadow: 0px 0px 2px 2px lightgray;
    margin-top: 2%;
}

.ui.centered.card {
    margin-top: 2%;
}

#pageNumbers {
    margin-top: 2%;
    background-color: transparent;
}

.centerText {
    text-align: center;
}

.bottomMargin {
    margin-bottom: 10%;
}

.addTopMargin {
    margin-top: 2%;
}

.addTopMarginSmall {
    margin-top: 1%
}

.column.grid.addTopMargin, .addTopMargin, .ui.grid.addTopMargin {
    margin-top: 5%;
}

#extraInfo {
    background-color: rgb(245, 210, 165);
}

.box {
    display: inline-block;
    position: relative;
    height: 40vw;
    width: 80vw;
    text-align: center;
}
